<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
    {% if response %}
        <h3>Shortened : <a href="{{short_url}}">{{short_url}}</a></h3>
    {% else %}

        {%if duplicate %}
            <h1>We are sorry !</h1>
            <h2>This alias already exists ! Try another</h2>
        {% endif %}

        <form action="/" method="POST">
            <label for="url">Enter URL to shorten : </label>
            <input type="text" name="url" id="url" value="{{url}}">
            <label for="alias">Enter alias : </label>
            <input type="text" name="alias" id="alias" value="{{alias}}">
            <input type="submit" value="Shorten">
        </form>
    {% endif %}
</body>
</html>